/.metadata/
/vehicle-driver/*.o
/vehicle-driver/src/*.o
/vehicle-driver/*.d
/vehicle-driver/src/*.d
/vehicle-driver/*.elf
/vehicle-driver/*.hex
/vehicle-driver/.setings
/vehicle-driver/tools
/vehicle-driver/.cproject
/vehicle-driver/.project
/vehicle-driver/.settings/language.settings.xml
/ros2_ws/build/
/ros2_ws/install/
/ros2_ws/log/
/ros2_ws/src/rplidar_ros2/
/doc/vehicle control design/python/venv/
/doc/vehicle control design/python/.idea/
